DB_URL=jdbc:postgresql://localhost:5432/gestion_comercial
DB_USERNAME=postgres
DB_PASSWORD=TU_CONTRASEÑA_REAL


JWT_SECRET=CLAVE

vendedor_USUARIO=USUARIO_VENDEDOR
vendedor_CONTRASEÑA=CONTRASEÑA_VENDEDOR

admin_USUARIO=USUARIO_ADMIN
admin_CONTRASEÑA=CONTRASEÑA_ADMIN